<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ DEFAULT_LANG }}">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="{{ ROBOTS }}" />

  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="{{ SITEDESCRIPTION }}" />
  <meta name="keywords" content="{{ SITEKEYWORDS }}" />
  <meta name="Content-Language" content="{{ DEFAULT_LANG }}" />
  {% include "partial/og.html" %}
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  {% block meta_javascript %}{% endblock %}

  {% block meta_css %}{% endblock %}

  {% if FAVICON %}
  <link rel="shortcut icon" href="{{ SITEURL }}{{ FAVICON }}" type="image/x-icon">
  <link rel="icon" href="{{ SITEURL }}{{ FAVICON }}" type="image/x-icon">
  {% endif %}

</head>
<body>
  {% block content %}{% endblock %}

  {% block additional_js %}{% endblock %}

</body>
</html>
