
  <header>
    <div class="header-content">

      <!-- BRANDING -->
      <div class="branding">
        {% if SITELOGO %}
        <img class="site-logo" src="{{ SITELOGO }}" />
        {% endif %}
        <h1 class="site-title"><span class="subdomain">rutas</span>.mapanica<span>.net</span>
        <h3 class="site-subtitle">{{ SITESUBTITLE }}</h3>
      </div>

      <!-- SEARCH FORM -->
      <form class="search-form">
        <form>
          <input type="text" name="search-string" value="" id="search-string" size="10" >
          <span class="button">
            <button type="submit" class="btn" id="search"><span class="fa fa-search"></span></button>
          </span>
        </form>
    </div>
  </header>
